= render 'memory', memory: @memory
- if @memory.user.id == current_user.id
  .text-center.edit-links
    = link_to "Cancel", memories_path
    |
    = link_to "Edit Memory", edit_memory_path(@memory)
- else
  .text-center.edit-links
    =link_to "Cancel", memories_path